<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/estilo.css">
</head>
<body>
    <div class="header">
        <div class="contenido">
            <button class="boton">MENU</button>
            <a class="menu" href="http://127.0.0.1:5000/">INICIO</a>
            <a class="menu" href="http://127.0.0.1:5000/contacto">CONTACTO</a>
            <a class="menu" href="http://127.0.0.1:5000/pregunta">INFORMACION</a>
            </div>
    </div>

    {% block body %}


    {% endblock %}


</body>
</html>